.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

table {
  width: 50%;
  border-collapse: collapse;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

th {
  width: 50%;
  background-color: #f2f2f2;
  vertical-align: top;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  width: 50%;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 4px;
  margin-left: auto;
  margin-right: auto;
}

.table-button{
  appearance: none;
  background-color: #2ea44f;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 15px;
  margin: 0.1%;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.graph-button {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  margin: 0.5%;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.radio-container {
  text-align: center;
  margin-left:auto;
  margin-right: auto;

}


.delete-button {
  background-color: #ff5555;
  color: #ffffff;
  border: none;
  padding: 3px 5px;
  cursor: pointer;
  align-items: center;
}

.delete-button:hover {
  background-color: #cc0000;
}
